captioning.egg-info/
captioning/__pycache__/
captioning/data/__pycache__/
captioning/models/__pycache__/
captioning/modules/__pycache__/
captioning/utils/__pycache__/
data/*
logs/*
eval_results
.idea/*
infos.csv
log_m2tf/
log_m2tfv11/
log_m2tfv12/
24.txt